:root {
    --cor-primaria: #055a05;
    /* verde-floresta */
    --cor-secundaria: #f4a261;
    /* bege médio */
    --cor-destaque1: #264653;
    /* azul-escuro acinzentado */
    --cor-destaque2: #e9c46a;
    /* amarelo-claro dourado */
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-body);
    color: var(--cor-destaque1);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    flex-wrap: wrap-reverse;
}

nav ul li {
    margin-left: 100px;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-primaria);
    font-weight: bold;
}

h1,
h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 0;
    padding: 10px;
}

.hero {
    position: relative;
    text-align: center;
}

.hero h1 {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border-radius: 0;
}

.hero article {
    display: flex;
    align-items: left;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: -50px;
    position: relative;
    z-index: 1;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.redes-sociais a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}